<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>????</title>
    <link href="../public/bootstrap/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <!--????  -->
            <table>
                <th>
                    <td>????</td>
                    <td>????</td>
                    <td>????</td>
                    <td>????</td>
                </th>
            </table>
        </div>
    </div>
</body>
</html>